%h2 Certificado
- if documento['NumeroDocumento'].present?
  %h3
    %strong Número Documento:
    = documento['NumeroDocumento']
  %h3
    %strong Nombres:
    = documento['Nombres']
  %h3
    %strong Primer Apellido:
    = documento['PrimerApellido']
  %h3
    %strong Segundo Apellido:
    = documento['SegundoApellido']

-if documento['Nit'].present?
  %h3
    %strong NIT:
    = documento['Nit']
  %h3
    %strong Razón Social:
    = documento['RazonSocial']

- fecha_hora = DateTime.now
%p fecha: #{ fecha_hora.strftime("%d/%m/%Y") }
%p hora: #{ fecha_hora.strftime("%H:%M:%S") }

.square
  = raw qr.as_html
